@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 350px;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

.drop_box {
  margin: 15px 0;
  padding: 20px;
  border: 2px dashed #a3a3a3;
  border-radius: 5px;
  text-align: center;
}

.drop_box h4 {
  font-size: 16px;
  color: #2e2e2e;
}

.drop_box p {
  font-size: 12px;
  color: #a3a3a3;
}

.btn, .predict-btn {
  background-color: #005af0;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover, .predict-btn:hover {
  background-color: #003f80;
}

.result-text {
  font-size: 14px;
  font-weight: bold;
  color: #2e2e2e;
  margin-top: 10px;
}
